html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// variables
$primaryColor: #f4f4f4;
$secondaryColor: #24292e;
$tertiaryColor: #c871e8;
$primaryFont: 'Roboto', serif;

// global 
html {
  overflow-y: scroll;
}

body {
  font-family: $primaryFont;
  color: $primaryColor;
  background: $secondaryColor;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 50px 0 100px;
  width: 100%;
}

.button {
  color: $primaryColor;
  display: flex;
  align-items: center;
  font-size: 20px;
  border: 3px solid $tertiaryColor;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color .35s, color .35s;
  svg {
    margin-right: 5px;
  }
  &:hover,
  &:focus {
    background-color: $primaryColor;
    color: $secondaryColor;
  }
}

.disabled {
  cursor: auto;
  background: $primaryColor;
  color: $secondaryColor;
}

.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

// LandingPage.js
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 200px 0;
}

.icon-h1-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  h1 {
    font-size: 40px;
  }
  svg  {
    font-size: 60px;
    margin-right: 10px;
    color: $tertiaryColor;
  }
}

input {
  border: none;
  padding: 20px;
  border-radius: 5px;
  background-color: inherit;
  color: white;
  width: 300px;
  text-align: center;
  font-size: 20px;
  border: 3px solid $tertiaryColor;
  transition: color .35s, background-color .35s;
  &:hover,
  &:focus {
    background-color: $primaryColor;
    color: $secondaryColor;
  }
}

// App.js
.favorite-back-container {
  display: flex;
  justify-content: flex-end;
  button {
    margin-right: 10px;
    height: 100%;
    svg {
      margin-right: 0;
    }
  }
}

.bio-chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

@media (max-width: 980px) {
  .bio-chart-container {
    flex-direction: column;
  }
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid $tertiaryColor;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 980px) {
  .bio-container {
    margin-bottom: 100px;
  }
}

.bio-container a {
  color: $tertiaryColor;
  transition: color .35s;
  margin-bottom: 20px;
  font-size: 20px;
  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.location-joined-container p {
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
    color: lighten($secondaryColor, 40%);
  }
  time {
    margin-left: 5px;
  }
}

.location-joined-container p:first-child {
  margin: 0 30px 10px 0;
}

.location-joined-repo-container {
  display: flex;
  width: 340px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .repos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($secondaryColor, 40%);
    border-radius: 5px;
    padding: 10px;
    span:first-child {
      font-size: 30px;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 480px) {
  .location-joined-repo-container {
    width: 300px;
  }
}

.chart-container {
  position: relative;
  padding: 20px 20px 0;
  background: $primaryColor;
  border-radius: 5px;
  height: 416px;
  width: 450px;
  h3 {
    text-align: center;
    margin-bottom: 0;
    color: $secondaryColor;
  }
}

.icon-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  svg {
    font-size: 100px;
    color: $tertiaryColor;
    margin-bottom: 20px;
  }
  p {
    color: $secondaryColor;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 470px) {
  .chart-container {
    height: auto;
    width: 100%;
    p {
      margin-bottom: 120px;
    }
  }
}

h3 {
  font-size: 40px;
  margin-bottom: 50px;
}

.repo-container {
  display: flex;
  flex-wrap: wrap;
  .repo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primaryColor;
    color: $secondaryColor;
    width: 330px;
    margin-right: 55px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 55px;
    a {
      display: inline-block;
      color: $secondaryColor;
      font-size: 20px;
      padding: 4px;
      transition: color .35s;
      margin-bottom: 20px;
      &:hover,
      &:focus {
        color: $tertiaryColor;
      }
    }
  }
}

.repo-container .repo-card:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1180px) {
  .repo-container {
    margin: 0 auto;
    // repo-card + repo-card + repo-card margin-right
    width: calc(330px + 330px + 55px);
    .repo-card:nth-child(3n) {
      margin-right: 55px;
    }
    .repo-card:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 760px) {
  .repo-container {
    width: 330px;
    .repo-card {
      margin-right: 0;
    }

    .repo-card:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .repo-container {
    width: 300px;
    .repo-card {
      width: 300px;
    }
  }
}

.description {
  margin-bottom: 20px;
}

.language-date-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 3px solid $tertiaryColor;
}

.loading-error-nav {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
  width: 100%;
}

// LoadingAnimation.js
.loading-container {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 300px;
  svg {
    animation: pulse 2s ease infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
    color: $tertiaryColor;
  }
  100% {
    transform: scale(1);
  }
}

// Error.js
.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  svg {
    font-size: 100px;
    color: $tertiaryColor;
    margin-bottom: 20px;
  }
}

// Favourites.js
.user-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primaryColor;
    border-radius: 5px;
    padding: 20px;
    width: 330px;
    margin-right: 55px;
    margin-bottom: 55px;
  }
}

.user-card-container .user-card:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1180px) {
  .user-card-container {
    margin: 0 auto;
    // repo-card + repo-card + repo-card margin-right
    width: calc(330px + 330px + 55px);
    .user-card:nth-child(3n) {
      margin-right: 50px;
    }
    .user-card:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 760px) {
  .user-card-container {
    width: 330px;
    .user-card {
      margin-right: 0;
    }

    .user-card:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .user-card-container {
    width: 300px;
    .user-card {
      width: 300px;
    }
  }
}

.img-h4-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  h4 {
    color: $secondaryColor;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
  }
}

.date-link-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 3px solid $tertiaryColor;
  color: $secondaryColor;
  a {
    font-size: 40px;
    transition: color .35s;
    &:hover,
    &:focus {
      color: $tertiaryColor;
    }
  }
}

// Footer.js
footer {
  display: flex;
  justify-content: flex-end;
  .button svg {
    margin-right: 0;
    font-size: 20px;
  }
}